flows.json
[{"id":"844314df.2bbd48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"14662a93.cf4b55","type":"watson-speech-to-text","z":"844314df.2bbd48","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":300,"y":380,"wires":[["921ae807.38bec8"]]},{"id":"98f03b02.c8f608","type":"watson-text-to-speech","z":"844314df.2bbd48","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":940,"y":320,"wires":[["559e9dcf.76e1a4"]]},{"id":"bbda8947.c11a08","type":"watson-assistant-v2","z":"844314df.2bbd48","name":"","default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","assistant_id":"","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"x":600,"y":200,"wires":[["11d66900.5abe77"]]},{"id":"2d1b12a7.18d74e","type":"microphone","z":"844314df.2bbd48","name":"","x":110,"y":440,"wires":[["14662a93.cf4b55"]]},{"id":"6d0531c2.feb4c","type":"play audio","z":"844314df.2bbd48","name":"","voice":"","x":1250,"y":480,"wires":[]},{"id":"921ae807.38bec8","type":"function","z":"844314df.2bbd48","name":"","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["bbda8947.c11a08"]]},{"id":"11d66900.5abe77","type":"function","z":"844314df.2bbd48","name":"","func":"node.warn (JSON.stringify (msg.payload))\nif (msg.payload.output) \n{\n    output = msg.payload.output.generic [0].text;\n}\nelse \n{\n    output = 'No response';\n}\nnode.warn (output)\nmsg.payload = output;\nnode.send ([null, msg]);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":260,"wires":[["98f03b02.c8f608"]]},{"id":"559e9dcf.76e1a4","type":"function","z":"844314df.2bbd48","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":400,"wires":[["6d0531c2.feb4c"]]}]